/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libkeybinder/Makefile
/libkeybinder/Makefile.in
/libtool
/ltmain.sh
/lua-keybinder/Makefile
/lua-keybinder/Makefile.in
/m4/*.m4
/missing
/py-compile
/python-keybinder/_keybinder.c
/python-keybinder/Makefile
/python-keybinder/Makefile.in
/python-keybinder/__init__.py
/python-keybinder/__init__.pyc

/*.tar.gz
.deps/
.libs/
*.la
*.lo
